.jumbotron{
  padding: 5px;
  margin: 25px;
  border: 2px solid gray;
  margin-top: 150px;
  margin-left: 250px;
}
.c1{
  text-align: center;
}
.top h1{
  font-size: 25px;
}
.top p {
  font-size: 15px;
}
