.jumbotron{
  padding: 5px;
  margin: 25px;
  border: 2px solid gray;
  margin-top: 150px;
  margin-left: 250px;
}
.c1{
  text-align: center;
}
.top h1{
  font-size: 25px;
}
.top p {
  font-size: 15px;
}
.c2{
  text-align: left;
  padding: 5px;
  margin-top:-320px;
}
.panel-body{
  background-color: #B8F3AD;
}
.c3{
  padding-left: 200px;
  margin-top: -150px;
}
